.MuiPickerStaticWrapper-root {
  min-width: 100% !important;

  .PrivatePickersToolbar-dateTitleContainer {
    .Mui-selected {
      color: #00AB55;
    }
  }

  .PrivatePickersToolbar-dateTitleContainer {
    display: flex;
    justify-content: center;
  }

  .PrivateTimePickerToolbar-ampmSelection {
    margin-right: 0;
  }

  .PrivatePickersToolbar-root {
    padding: 8px 0;

    .MuiTypography-overline {
      display: none;
    }
  }

  .MuiButtonBase-root > svg {
    display: none;
  }

  & > div > div:nth-child(2) {
    min-width: 100%;
    width: 100%;
    margin-top: -5px;

    & > div {
      padding: 0;
    }
  }

  .MuiClockPicker-root {
    width: 100%;

    & > div {
      margin-top: 8px;
    }

    & > div > div {
      background-color: #fff;
      box-shadow: 0px 8px 10px -5px rgb(145 158 171 / 20%), 0px 16px 24px 2px rgb(145 158 171 / 14%), 0px 6px 30px 5px rgb(145 158 171 / 12%);
    }
  }
}
