.product_list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

.singleProduct {
  align-self: baseline;
}
